@use "@angular/material" as mat;

@mixin item-editor-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map-get($color-config, primary);
  $accent-palette: map-get($color-config, accent);

  .x-item-editor {
    overflow: hidden;

    .item-view {
      background-color: mat.get-color-from-palette($primary-palette, 900);
      box-sizing: border-box;
      padding: 10px;
      height: 100%;
      width: 200px;

      x-deck-item {
        width: 100%;
        align-self: flex-start;
        .deck-item {
          cursor: default;
        }
        .deck-item:active {
          background-color: mat.get-color-from-palette($primary-palette, 800);
        }
      }
    }

    .item-detail-editor {
      x-form {
        x-textarea {
          margin-bottom: 15px;
        }
      }
    }
  }
}
