@use "@angular/material" as mat;

@mixin item-editor-theme($theme) {
  .x-item-editor {
    overflow: hidden;

    .item-view {
      background-color: black;
      box-sizing: border-box;
      padding: 10px;
      height: 100%;
      width: 200px;

      x-deck-item {
        width: 100%;
        align-self: flex-start;
      }
    }
  }
}
