/* You can add global styles to this file, and also import other style files */

html {
  color: #ececec;
  background-color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  display: block;
  margin: 12px;
}
